<article class="tmpl-loan">
    <p class="loan-ph-thing">{{loan}}</p>
    <p class="loan-wrapper-person">
        Prêté à
        <span class="loan-ph-person">{{loanerName}}</span>
    </p>
    <button class="loan-btn-del">
        Supprimer
    </button>
</article>