<article class="tmpl-person">
    <p class="person-ph-name">{{person}}</p>
    <button class="person-btn-del" data-alert="Ne peut être supprimé car un prêt est en cours !" data-key="{{key}}">Supprimer</button>
    <button class="person-btn-mod" data-prompt="{{person}}" data-key="{{key}}">Modifier</button>
</article>